<!DOCTYPE html>
<html>
<head>
    <title>Main page</title>
    <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f2f2f2;
      text-align: center;
    }
    h1 {
      color: #333;
    }
    a {
      text-decoration: none;
      color: #007bff;
      font-weight: bold;
    }
  </style>
</head>
<body>
<h1>Добро пожаловать в приложение CalcProjectApplication</h1>
<h2>Здесь вы можете произвести расчёт чего-то там</h2>
<p>Для начала работы пожалуйста, <a href="/login">авторизуйтесь</a> или <a href="/registration">зарегистрируйтесь</a>.</p>
</body>
</html>