<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Registration new user</title>
</head>
<body>
<h3>Registration new user</h3>
<br/>
<form th:method="POST" th:action="@{/registration}" th:object="${user}">
    <div class="row">
        <label for="username">Введите имя пользователя:</label>
        <input id="username" name="username" type="text"/>
    </div>
    <div class="row">
        <label for="password">Введите пароль пользователя:</label>
        <input id="password" name="password" type="text"/>
    </div>
    <div class="row">
        <label for="email">Введите email пользователя:</label>
        <input id="email" name="email" type="text"/>
    </div>
    <div class="row">
        <button type="submit">Save</button>
        <a href="main.html" th:href="@{/}"><button type="button">Cancel</button></a>
    </div>
</form>
</body>
</html>